<div class="inner__container shadow">
  <h1 class="page__title shadow yellow">How to Play</h1>
  <p class="how_to_instruction">
    The objective of the game is to collect the most sets of cards.
    A set is made up of all four cards with the same value (aka Ranks).
  </p>

  <p class="how_to_instruction">
    Each player starts with either 5 or 7 cards thatcan only be seen
    by that player.
    Each set in the player’s hand will be removed and counted as a point.
    Players take turns to ask one of their opponents for a card that
    can form a set.
  </p>

  <p class="how_to_instruction">
    If the opponent does not have the card, the player must “Go Fish”
    and pick a card from the deck.

    The game ends when one player’s hand of cards becomes empty.
    The winner is the player with the most pairs.
   </p>

  <a href="/menu" class="menu__item button shadow yellow bangers-font return">Got it</a>
</div>
