.instruction__container.shadow.menu__container.flex-column
  h1.instruction__title.yellow.disney-font.text-shadow How to Play
  p.instruction__text
    |
      The objective of the game is to collect the most sets of cards.
      A set is made up of all four cards with the same value (aka Ranks).
  p.instruction__text
    |
      Each player starts with either 5 or 7 cards that can only be seen
      by that player.
      Each set in the player’s hand will be removed and counted as a point.
      Players take turns to ask one of their opponents for a card that
      can form a set.
  p.instruction__text
    |
      If the opponent does not have the card, the player must “Go Fish”
      and pick a card from the deck.

      The game ends when one player’s hand of cards becomes empty.
      The winner is the player with the most sets.
  a.return__button.primary-button.shadow.yellow.disney-font href="/" Got It
