<div class="inner__container shadow">
  <img class="login__logo" src="./assets/mainlogo.png" alt="Go Fish Logo">
  <h1 class="login__title bangers-font blue-4">Go Fish</h1>
  <form action="/menu" method="post">
    <label class="login__text row yellow sans-font">Username:</label>
    <input class="login__input sil-font" type="text" name="username" autocomplete="current-username" value="admin">
    <label class="login__text row yellow sans-font">Password:</label>
    <input class="login__input sil-font" type="password" name="password" autocomplete="current-password" value="password">
    <button class="button shadow yellow bangers-font">Login</button>
  </form>
    <span class="signup">
      No account?
      <a href="#">Sign up</a>
    </span>
</div>
