<div class="inner__container shadow menu__container">
  <a href="/play" class="menu__item button shadow yellow bangers-font ">Play</a>
  <a href="/how_to_play"class="menu__item button shadow yellow bangers-font">How to Play</a>
  <a href="/logout"class="menu__item button shadow yellow bangers-font">Log Out</a>
</div>
