@media(max-width: 600px) {
  .inner__container {
    background: #62B3E1;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
  }

  body {
    background-image: url("main_background.png");
    height: 100%;
  }
}


body {
  background-image: url("main_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.inner__container {
  background: #62B3E1;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.smaller__container {
  background-color: #DCF3FF;
  width: 85%;
  border-radius: 10px;
}

.shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.flex-column {
  display:flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.flex-row {
  display: flex;
}

.primary-button, .primary-button:active{
  border-radius: 10px;
  width: 70%;
  background-image: linear-gradient(#3C95C8, #20597A);
  border: none;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px black;
}

.primary-button:active, .primary-button-link:active{
  background-image: linear-gradient(#20597A, #3C95C8);
}

.primary-button-link {
  background-image: linear-gradient(#3C95C8, #20597A);
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px black;
  border-radius: 10px;
  width: 70%;
  border:none;
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.menu__item {
  margin: 10px 0px 10px 0px;
}

.menu__item:active {
  margin: 10px 0px 10px 0px;
}

.page__title {
  width: 100%;
  background: #20597A;
  margin-top: 0px;
  border-radius: 8px;
  margin-bottom: 0px;
}
